#main{
    background-color: antiquewhite;
}
#logo{
    background-image:url(../PROJECTS-PHOTOS/MECHANICAL/bg.jpeg) ;
    background-size: cover;
    padding: 20%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}
#logo h4{
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color: white;
}
#m1 img{
    margin-top: 3%;
    margin-left: 3%;
    width:95% ; 
    height:80% ;
}
#contact-us{
    margin-top: 5px;
    background-color: orange;
    display: flex;
}
#map{
    padding: 5%;
}
#adress{
    padding:4%;
    text-align: center;
    width: 50%;
}
#adress h1{
    font-family: 'Courier New', Courier, monospace;
}
#adress h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#adress h2{
    margin-top: 1%;
    margin-bottom: 3px;
    font-size: 26px;
}
#adress h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
}